{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Suivi des livraisons</h2>
  <div id="map" style="height: 500px;"></div>
</div>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
  const map = L.map('map').setView([14.6928, -17.4467], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);

  const livraisons = {{ livraisons|safe }};

  {% for l in livraisons %}
    L.marker([{{ l.latitude }}, {{ l.longitude }}])
      .addTo(map)
      .bindPopup("<strong>{{ l.client.username }}</strong><br>{{ l.adresse }}<br><em>{{ l.statut }}</em>");
  {% endfor %}
</script>
{% endblock %}
